body {
  margin-top: 50px;
  background: linear-gradient(to right, rgb(0, 109, 143), rgb(255, 196, 171));;
}


div {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

article {
    align-content: center;
    margin-right: 7em;
    font-family: 'Permanent Marker', cursive;
    text-align: right;
}

h1 {
   font-size: 2em;
}

p {
  font-size: 1.2em;
}

input {
  font-size: 1.2rem;
  font-family: 'Permanent Marker', cursive;
}

#enter{
  font-size: 1rem;
  margin-left: 15px;
  margin-top: 1em;
}

#reset {
  font-size: 1rem;
  margin-top: 1em;
  margin-right: 2.2em;
}

ul {
  font-size: 1.5rem;
  list-style: none;
  padding: 1em;
}

li {
  padding-bottom: 1.2px;
}
button {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.1rem;
  font-weight: bold;

}
ul button {
  margin-left: 25px;
}


.done {
  text-decoration: line-through;
}